@-ms-viewport{
    width: device-width;
}
.navbar{
    width: cover;
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display: -webkit-box;
    flex-direction: column;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.navbar ul{}
.navbar ul li{
    list-style: none;
    font-style: bold;
}