@-ms-viewport{
    width: device-width;
}
.navbar{
    width: cover;
    height:100px;
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display: -webkit-box;
    flex-direction: row;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.navbar ul{}
.navbar ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-style: bold;
    justify-content: left;
    text-overflow: clip;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}